* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body { 
    font-family: Roboto, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}   

.header {
    background-color: #1F2937;
    color: white;
    height: 500px;
}

.info-main {
    background-color: white;
    height: 425px;
}
.quote-container {
    background-color: #E5E7EB;
    height: 400px;
}
.sign-container {
    background-color: #3882F6;
    color: white;
    height: 300px;
}

.footer {
    background-color: #1F2937;
    color:white;
    height: 75px;
}

img {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 64px;
    margin-top: 38px;
} 

.info {
    max-width: 200px;
}

.info-main  {
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 130px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.top-header,
.bottom-header {
    margin-left: 180px;
    margin-right: 180px;
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
    color: #E5E7EB
  }

.links {
    display: flex;
    gap: 16px;
}

.header-logo  {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

 .hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
 }

 .hero-second-text {
    font-size: 18px;
    color: #E5E7EB;
 }

 .bottom-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 480px;
    background-color: lightblue;;
 }

 .bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
    background-color: lightblue;
 }