html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body { 
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1300px
}   

.header {
    background-color: #1F2937;
    color: white;
    height: 500px;
}

.info-main {
    background-color: white;
    height: 450px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
    padding: 0 100px;
    
}

.quote {
    text-align: justify;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    color: #1F2937;
}

.cit {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.sign-main-container {
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
    height: 350px;
}

.sign-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    height: 200px;
}

.footer {
    background-color: #1F2937;
    color:white;
    height: 75px;
}

img {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    margin-top: 32px;
} 

.info {
    max-width: 200px;
}

.info-main  {
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    gap: 64px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 80px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.top-header,
.bottom-header {
    margin-left: 180px;
    margin-right: 180px;
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
    color: #E5E7EB
  }

.links {
    display: flex;
    gap: 16px;
}

.header-logo  {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

 .hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
 }

 .hero-second-text {
    font-size: 18px;
    color: #E5E7EB;
 }

 .bottom-left {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 100%;
 }

 .bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
 }

#top-button {
    align-self: flex-start;
    cursor: pointer;
    padding: 6px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border-color: #1F2937;
    border-style: solid;
}

#bottom-button {
    align-self: flex-start;
    cursor: pointer;
    padding: 6px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border-color:#F9FAF8;
    border-style: solid;
}

 #img-place {
    height: auto;
    width: 400px;
 }

 .call-bold {
    font-size: 18px;
    font-weight: 700;
 }

 .call-light-gray {
    color: #E5E7EB;
 }